* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #385673;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.card {
  background: #000000;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.profile-header {
  display: flex;
  gap: 20px;
  align-items: left;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-info h2 {
  margin: 0;
}

.profile-info span {
  font-size: 14px;
  color: #000000;
}

.role {
  font-weight: bold;
  margin: 5px 0;
}

.location {
  color: #000000;
}

.links a {
  margin-right: 10px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.item {
  margin-bottom: 15px;
}

.item span {
  float: right;
  font-size: 13px;
  color: #000000;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 10px;
}

.tags span {
  background: #464545c0;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
}

h3 {
  margin-top: 0;
}

h4 {
  margin-bottom: 8px;
  margin-top: 15px;
}
a {
  color: #ffffff;
  text-decoration: none;
}